@import "~@mcui/mc-reset";
@import "~@mcui/mc-base";
@import "~mc-tinting/theme/mc-tinting@theme=default";

html {
  font-size: 12px;
}

body {
  max-width: 640px;
  padding: 1rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.style-floor {
  height: 800px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  border: 1px solid #999;
  margin: 3rem 0;

  &:nth-child(odd) {
    background: #f5f5f5;
  }
}

$active: #EA3333;
#floor_nav {
  position: fixed;
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 100;

  & > * {
    display: inline-block;
    padding: 2px .5em;
    border: 1px solid #000;
    margin: 0 5px;
    background: #fff;

    &.active {
      border: 1px solid $active;
      background: $active;
      color: #fff;
    }
  }
}
